# =========================
# .NET
# =========================
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe

# =========================
# ASP.NET / VS
# =========================
.vs/
*.dbmdl

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# database
# =========================
*.db
*.db-shm
*.db-wal